.principles__title {
  margin-bottom: 10px;
  @include font(null, 14px, 1.14, null);
  text-transform: uppercase;
}

.principles__list {
  display: flex;
}

.principles__wrap {
  margin-bottom: 30px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.principles__item:not(:last-child) {
  margin-right: 30px;
}

.principles__text {
  @include font(null, 14px, 1.71, null);
  // font-size: 14px;
  // line-height: 1.71;
}
